.modal {
	width: $full-width;
	height: $full-height;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(232, 235, 238, 0.664);
	z-index: 999;

	.modal-dialog{
		width: 500px;
    height: 560px;
    background: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	@include padding(10px);
	border-radius:$border-radius-xxl;
	box-shadow: rgba(0,0, 0, 0.658) 0px 3px 8px;

	}

	.modal__body {
		.scroll-with--sticky-header {
			overflow-y: auto;
			&::-webkit-scrollbar {
				width: 0;
			}
		}
	}

	&.confirmation-model {
		.modal__body {
			max-height: 300px !important;
			box-sizing: content-box;
			@include padding(0 20px);
		}
	}

	
}
